*/__MACOSX/
*/.ipynb_checkpoints/
*/10_food_classes_10_percent/
*.zip
*/tensorflow_hub/
tf217.ipynb
*.Identifier
*.csv
aula.*
aula/
*/yolov3.weights
kaggle.json
fashion-product-images-small/
images/
myntradataset/